@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
body {
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

.hero-area {
  padding: 100px 0 0;
}

.hero-area .content-block {
  padding-bottom: 40px;
}

.hero-area .advance-search {
  background: #fff;
  padding: 25px 25px;
  border-radius: 3px;
  margin-bottom: -50px;
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.12);
}

.section-title {
  position: relative;
  margin-bottom: 75px;
  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero-area .content-block h1,
.hero-area-2 .content-block h1 {
  color: #fff;
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}

.hero-area .content-block p,
.hero-area-2 .content-block p {
  color: #fff;
  font-size: 20px;
}

.voice-button {
  background: none;
  color: #5672f9;
  border-width: 1px 1px 1px 0px;
  border-color: #dedede;
}

td {
  height: 50px;
}
